name: Deploy to AWS

on:
  push:
    tags:
      - v*

env:
  GHCR_IMAGE: ghcr.io/${{ github.repository_owner }}/${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Login to Registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build image
        run: |
          GHCR_IMAGE=$(echo $GHCR_IMAGE | tr '[A-Z]' '[a-z]')
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          docker build -f ./build/docker/Dockerfile -t $GHCR_IMAGE:$VERSION .

      - name: Push to Registry
        run: |
          docker push $GHCR_IMAGE